<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>CV Alejandro Alvarez</title>
		<link rel="stylesheet" type="text/css" href="..\MisEstilos.css">
		<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	</head>
	<body>
		<header>
			<!-- <img id="imagenfisico" src="../imgs/fisicoculturista.jpg" width="150" height="100" alt="En mis ratos libres" title="imagenfisico"> -->
			<h1 id="aa">Alejandro Álvarez</h1>
		</header>
		<nav id="menu">
			<h2><a href="#info_personal">Información</a></h2>
			<h2><a href="#formacion">Formación</a></h2>
			<h2><a href="#experiencia">Experiencia</a></h2>
			<h2><a href="#portafolio">Portafolio</a></h2>
		</nav>
		
		<div class="bloques" id="info_personal">
			<h3 class="titulo">Información</h3>
			<h4 class="subtitulo">Datos Personales</h4>
			<ul>
				<li>Nacionalidad: Argentino/Español</li>
				<li>Domicilio: Capital Federal y varias provincias</li>
				<li>Edad: 32 años </li>
				<li>Idiomas: Inglés, Portugués y Español</li>
				<li>Cel: 011 1553322342</li>
				<li>email: alalalal@gmail.com</li>
			</ul>
				<p>	Management en diversas organizaciones y proyectos, énfasis en el análisis y mejoramiento de procesos de diversa índole, mejora continua, sistemas integrados de gestión, asesoraiento integral en negocios y organizaciones</p>
				<p> Experiencia liderando equipos interdisciplinarios e internacionales</p>
				<p>	Especialista en mate amargo</p>
				<p>	Siempre Estudiante</p>
				<p> Piloto Privado</p>		
		</div>
		<div class="bloques" id="formacion">
			<h3 class="titulo">Formación</h3>
			<h4 class="subtitulo">Detalle</h4>
			<ul>
				<li>Master en Web Development - Acamica</li>
				<li>Doctor en CV's- Acamica</li>
				<li>Finance for Business Management - HBR</li>
				<li>EMBA Executive MBA - IAE Buiness School - Universidad Austral</li> 
				<li>Desarrollador Web Full-Stack - Acamica</li>
				<li>Seguridad Informática - CISCO</li>
				<li>Piano</li>
			</ul>
			<p> Amplia experiencia internacional en procesos y equipos, liderando proyectos con sólida base tecnológica e informática, de gestión integral (ERP), mejora continua y calidad.</p>
		</div>
		<div class="bloques" id="experiencia">
			<h3 class="titulo">Experiencia</h3>
			<h4 class="subtitulo">Detalle</h4>
			<ul>
				<li>SAP Process mapping and Global Model Implementation - Tetra Pak</li>
				<li>Docente Universitario - UNLaR & UTN</li>
				<li>Gesetión de Instituciones Educativas - UNLaR</li>
				<li>Asesoramiento técnico - Coplar SA</li>
			</ul>
			<p> Más de 20 años aportando al desarrollo regional y nacional, desde fotocopias y servicios mecánicos, hasta docencia universitaria.</p>
		</div>
		
		<div class="bloques" id="portafolio">
			<h3 class="titulo">Portafolio</h3>
			<h4 class="subtitulo">Proyectos Implementados</h4>
			<ul class="imgsportfolio">
				<li><a href="#portfolio"> <img src="../imgs/ciudad-zombie-icon.png" title="Un Gran Proyecto 1" alt="Proyecto 1"></a></li>
				<li><a href="#portfolio"><img src="imgs/cv-icon.png" title="Un Gran Proyecto 2" alt="Proyecto 2"></a></li>
				<li><a href="#portfolio"> <img src="imgs/mapa-interactivo-icon.png" title="Un Gran Proyecto 3" alt="Proyecto 3"></a></li>
				<li><a href="#portfolio"> <img src="imgs/peli-vs-peli-icon.png" title="Un Gran Proyecto 4" alt="Proyecto 4"></a></li>
				<li><a href="#portfolio"> <img src="imgs/pixel-art-icon.png" title="Un Gran Proyecto 5" alt="Proyecto 5"></a></li>
				<li><a href="#portfolio"> <img src="imgs/que-veo-icon.png" title="Un Gran Proyecto 6" alt="Proyecto 6"></a></li>
				<li><a href="#portfolio"> <img src="imgs/recargado-icon.png" title="Un Gran Proyecto 7" alt="Proyecto 7"></a></li>
				<li><a href="#portfolio"> <img src="imgs/rompecabezas-icon.png" title="Un Gran Proyecto 8" alt="Proyecto 8"></a></li>
				<li><a href="#porfolio"> <img src="imgs/encuestados-icon.png" title="Un Gran Proyecto 9" alt="Proyecto 9"></a></li>
			</ul>
		</div>
	</body>
</html>
